.film-overlay {
  width: 234px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  overflow: show;
  user-select: none;
  pointer-events: none;
}
.film-overlay .button:first-child {
  margin-bottom: 15px;
}
.film-overlay .button {
  pointer-events: all;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .film-overlay {
    display: none;
  }
}
