.button {
  width: 130px;
  height: 45px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  border-radius: 5px;
  user-select: none;
  background: transparent;
  border: 1px solid white;
}
.button:hover {
  border: 1px solid #ff6b01;
  box-shadow: inset 1px 1px 10px rgb(255, 166, 124), 1px 1px 5px rgb(221, 9, 9);
}
.button-active {
  background: #ff6b01;
  border: 1px solid #ff6b01;
  box-shadow: inset 5px 5px 10px rgb(255, 166, 124), 1px 1px 5px rgb(221, 9, 9);
}