* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
/* * ------------- modal-window ---------------- */
.wrapper {
  padding: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.poster {
  width: 280px;
  height: 416px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 30px;
}

.film-title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.film-info:not(:last-child) {
  margin-bottom: 10px;
}

.film-info-box {
  margin-bottom: 20px;
}

.vote > span:first-child {
  width: 36px;
  height: 16px;
  background: #ff6b08;
  color: #ffff;
  border-radius: 5px;
  outline: none;
  border: none;
}

.film-about {
  margin-bottom: 40px;
}

.film-about-title {
  margin-bottom: 10px;
  width: 39px;
  height: 16px;
  text-transform: uppercase;
}

.film-about-text {
  width: 279px;
  height: 217px;
  line-height: 20px;
}

.user-action-buttons {
  display: flex;
}

.buttons {
  margin-right: 15px;
  width: 136px;
  height: 44px;
  background: #ffff;
  border-radius: 5px;
  border: 1px solid black;
  text-transform: uppercase;
}

.active {
  background: #ff6b08;
  color: #ffff;
  outline: none;
  border: none;
}

/* * ------------------TABLET ver.------------------ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* * ------------------DESKTOP ver.------------------ */
@media screen and (min-width: 1024px) {
}
