*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  --font-family: "Roboto", sans-serif;
  --font-size-header: 12px;
  --font-size-input-footer: 14px;
  --font-size-footer: 16px;
  --font-size-logo: 30px;
  --header-text-clr: #ffffff;
  --input-error-clr: #ff001b;
  --selected-clr: #ff6b08;
  --text-footer-clr: #545454;
  --text-main-clr: #000000;
} */

@import "./components/modal-window/modal-window.css";
