:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  transition: color 150ms var(--timing-function),
    background-color 150ms var(--timing-function);
}

body.light-theme {
  background: #fff;
  color: #333333;
}

body.dark-theme {
  background: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 38%,
    rgba(11, 5, 2, 1) 93%
  );
  color: #fff;
}

.footer.light-theme {
  background-color: #f7f7f7;
  color: var(--text-footer-clr);
}

.footer.dark-theme {
  background-color: #7e7e7e23;
  color: #fff;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 24px;
  padding-right: 0;
  padding-top: 0;
}

.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 17px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(1px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(30px);
}
