* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
/* -------------HEADER---------------- */

.header {
  width: 100%;
  height: 230px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.header-home-background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../images/header/header-bg-mobile.png");
}
.header-library-background {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../images/header/header-library-bg-mobile.png");
}
.header-wrapper {
  width: 320px;
  height: 210px;
  margin: 0 auto;
  padding: 48px 23px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}
.header-nav-logo {
  display: flex;
  align-items: baseline;
  user-select: none;
}
.header-nav-logo a {
  text-decoration: none;
  display: inline-block;
}
.header-nav-logo-title {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin-left: 10px;
}
.header-nav-logo-icon {
  width: 24px;
  height: 24px;
}
.header-nav-list {
  list-style: none;
  color: white;
  display: flex;
  text-transform: uppercase;
}
.header-nav-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  user-select: none;
}
.header-nav-list-item:first-child {
  margin-right: 39px;
}
.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #ff6b08;
}
.languages {
  display: flex;
  justify-content: center;
  width: 60px;
  margin-left: 20px;
}
.languages > a {
  color: white;
  cursor: pointer;
  user-select: none;
}
.lang-en {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-image: url("../../images/header/united-kingdom.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.circle-color {
  background-color: #ffffff;
}
.lang-ru {
  width: 24px;
  height: 24px;
  background-image: url("../../images/header/russia.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/* ----------------------------------------------search------------------------------------------------------- */
.search {
  width: 280px;
  position: relative;
  user-select: none;
}
.search-input {
  width: 280px;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.search::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  margin-top: 4px;
  background-color: white;
}
.search::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: transparent;
  background-image: url("../../images/header/search.svg");
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}
/* ----красиво убираем плейсхолдер инпута при фокусе------- */
.search-input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.search-input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.search-input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.search-input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.search-input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.search-input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.search-input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
.search-input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
/* -----------------\\----------------- */
.search-input::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
/* ------------------buttons------------------ */
.header-buttons {
  margin: 0 auto;
  display: flex;
}
.button {
  width: 130px;
  height: 45px;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  border-radius: 5px;
  user-select: none;
  background: transparent;
  border: 1px solid white;
}
.button:first-child {
  margin-right: 15px;
}

.button-active {
  background: #ff6b01;
  border: 1px solid #ff6b01;
}

/* ------------------MEDIA------------------ */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header-nav-logo-title {
    display: none;
  }
  .languages {
    margin-left: 0;
  }
  .header-nav {
    align-items: center;
    justify-content: space-between;
  }
  .header-nav-list {
    align-items: center;
  }
  .header-nav-list-item {
    text-align: center;
  }
  .header-nav-list-item:first-child {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-home-background {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/header/header-bg-tablet.png");
  }
  .header-library-background {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/header/header-library-bg-tablet.png");
  }
  .header-nav-logo-title {
    display: block;
  }
  .header-wrapper {
    min-width: 768px;
    padding-top: 41px;
    padding-right: 76px;
    padding-left: 71px;
  }
  .search {
    width: 340px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-home-background {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/header/header-bg-desktop.png");
  }
  .header-library-background {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../images/header/header-library-bg-desktop.png");
  }
  .header-wrapper {
    width: 100%;
    padding-top: 41px;
    padding-right: 76px;
    padding-left: 71px;
  }
  .search {
    width: 340px;
    margin: 0 auto;
  }
}
/* ------------------hidden content---------------- */
.hidden {
  display: none;
}
/* ------------------/hidden content---------------- */
/* ------------------Film overlay + overlay buttons---------------- */

.film-overlay {
  width: 234px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  overflow: show;
  user-select: none;
  pointer-events: none;
}
.film-overlay .button:first-child {
  margin-bottom: 15px;
  margin-right: 0;
}
.film-overlay .button {
  pointer-events: all;
  cursor: pointer;
}
/* ------------------/Film overlay + overlay buttons---------------- */
.icon-home {
  width: 25px;
  height: 25px;
}