*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.search-error {
  margin: 0 auto;
}

.svg-button {
  background: url("./images/header/search.svg") no-repeat;
  width: 12px;
  height: 12px;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}

.svg-button:hover {
  transform: scale(1.5);
}

@import "./components/header/header.css";
@import "./components/modal-window/modal-window.css";
@import "./components/main-section/main-section.css";
@import "./components/spinner/spinner.css";
@import "./components/trailer/trailer.css";
@import "./components/pagination/pagination.css";
@import "./components/footer/footer.css";
@import "./components/theme-switch/theme-switch.css";
@import "./components/up-to/up-to.css";
